body {
  font-family:
    apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}
button:active {
  background-color: red;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#counter {
  font-family: "Seven Segment";
  font-size: 100px;
  color: red;
}
.bezel {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
